[submodule "StickerInator"]
	path = StickerInator
	url = https://github.com/fongyj/StickerInator
	branch = main
[submodule "morgana-bot"]
	path = morgana-bot
	url = https://github.com/CedricChia123/morgana-bot
